/* .blockname, .blockname_element, .blockname_element--modifier */

/* Blocks */
.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #bcbcbc;
  color: #1e2a31;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.heading-1 {
  font-size: 3rem;
  padding: 20px 10px;
}

.heading-2 {
  padding: 20px 0 5px 0;
}

.container {
  margin: auto;
  max-width: 900px;
  overflow: auto;
  padding: 0 20px;
}

.photo {
  display: block;
  margin: 1rem;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* Elements */
.container_content {
  line-height: 1.5rem;
  padding: 0 20px;
}

.photo_profile-img {
  border: #6c6c6c solid 2px;
  border-radius: 50%;
  padding: 0;
}

.photo_img {
  padding: 10px;
  width: 80%;
}

.photo_caption {
  font-size: 0.8rem;
}

.video_vid {
}
/* Modifiers */
